
/* Intro hero */
.page-intro {
    overflow: hidden;
    color: #fff;
    text-align: center;
    background: url(../img/bg-dino-fpo.jpg) center top no-repeat;
}

.page-intro .page-title {
    color: #fff;
    font-style: italic;
    font-size: 55px;
    margin: 20px 80px 0;
}

.page-intro .page-title b {
    font-family: 'Fira Sans';
    font-weight: bold;
}

.page-intro .video-overlay {
    background: rgba(0, 50, 105, .8);
}

.page-intro .container {
    z-index: 10;
}

.background-video {
    display: none;
}


/* General - overrides base */
.section-title {
    text-align: left;
}

.section-intro {
    margin: 0 0 40px;
    text-align: left;
}



/* Steps */
.nav-steps {
    text-align: center;
    margin: -20px auto 40px;
    position: relative;
    z-index: 101;
}

.nav-steps.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  background: rgba(255,255,255,.96);
  box-shadow: 0 0 5px rgba(0,0,0,.1);
}

.nav-steps a {
    color: #aaa;
}

.nav-steps a:hover,
.nav-steps a:focus {
    color: #c63327;
}

.nav-steps ul {
    width: 40%;
    margin: 10px auto 0;
    display: flex;
}

.nav-steps ul:before {
    content: '';
    display: block;
    background: #ccc;
    height: 6px;
    position: absolute;
    left: 35.5%;
    right: 35.5%;
    z-index: -1;
}

.nav-steps li {
    width: 25%;
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    padding: 0;
    position: relative;
}

.nav-steps a:before {
    content: '';
    display: block;
    margin: -10px auto 10px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #ccc;
}

.nav-steps li.active a {
    color: #333;
    font-weight: bold;
}

.nav-steps .active a:before,
.nav-steps a:hover:before {
    background: #c63327;
}

.nav-steps li.done:before {
    content: '';
    display: block;
    height: 6px;
    width: 125%;
    background: #c63327;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
}

.nav-steps li.done a {
    color: #c63327;
}

.nav-steps .done a:before {
    background: #c63327;
}



/* Ask */
.section-ask {
    background: #f3f3f3;
}

.section-ask:before {
    content: '';
    display: block;
    position: absolute;
    height: 50px;
    top: -50px;
    left: 0;
    right: 0;
    background: inherit;
    clip-path: url(../img/shapes.svg#subtle-wave);
}

.call-bold {
    margin: 40px 80px;
    padding: 30px;
    background: #00a7e0;
    color: #fff;
    position: relative;
    border-radius: 0 0 3px 3px;
}

.call-bold:before {
    content: '';
    display: block;
    position: absolute;
    height: 30px;
    top: -30px;
    left: 0;
    right: 0;
    background: inherit;
    clip-path: url(../img/shapes.svg#arc-up-left);
}

.call-bold ul {
    list-style: none;
    text-align: center;
    margin: 0;
}

.call-bold li {
    display: inline-block;
    margin: 0 10px;
    padding: 0;
}

.call-bold .button-hollow {
    border: 2px solid #fff;
    color: #fff;
    font-size: 22px;
    transition: background-color .2s linear;
}

.call-bold .button-hollow:hover {
    background: rgba(255,255,255,.15);
    cursor: pointer;
}


.call-manifesto {
    position: relative;
    background: #fff;
    margin: 40px 80px;
    padding: 30px 40px;
    clip-path: url(../img/shapes.svg#box-subtle);
}

.call-manifesto h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 1em;
}

.call-manifesto blockquote {
    margin: 0 0 1.5em;
    padding: 0;
    font-size: 18px;
}

.call-manifesto p {
    margin: 0;
}

.js-ready .call-manifesto,
.js-ready .call-light {
    opacity: 0;
    top: 100px;
    transition: opacity .5s ease-in, top .5s ease-in-out;
    transition-delay: .2s;
}

.js-ready .call-manifesto.visible,
.js-ready .call-light.visible {
    top: 0;
    opacity: 1;
}


.call-light {
    margin: 40px 80px;
    padding: 30px;
    background: #f3f3f3;
    position: relative;
    border-radius: 0 0 3px 3px;
}

.call-light:before {
    content: '';
    display: block;
    position: absolute;
    height: 30px;
    top: -30px;
    left: 0;
    right: 0;
    background: inherit;
    clip-path: url(../img/shapes.svg#arc-up-right);
}

.call-light .share-cta {
    text-align: center;
}


.columns {
    display: flex;
    overflow: hidden;
}

.section-ask .columns {
    width: 60%;
    margin: 0 auto;
}

.two-up .column {
    width: 50%;
    margin: 0 20px;
    float: left;
    position: relative;
}

.section-ask .column {
    padding: 180px 0 0;
}

.section-ask .column strong {
    font-size: 50px;
    line-height: 100px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100px;
    height: 100px;
    padding: 30px;
    margin-left: -80px;
    text-align: center;
    background: #ccc;
    border-radius: 100%;
}

.footnote {
    text-align: center;
    font-size: 14px;
    color: #666;
    font-style: italic;
    margin: 1em auto;
}



/* Learn */
.section-learn {
    background: #fff;
}

.section-learn:before {
    content: '';
    display: block;
    position: absolute;
    height: 50px;
    top: -50px;
    left: 0;
    right: 0;
    background: inherit;
    clip-path: url(../img/shapes.svg#arc-up-left);
}

.video img {
    margin: 20px auto 40px;
    border-radius: 3px;
    padding: 10px;
    background: #f3f3f3;
}

/* Act */
.section-act {
    background: #f3f3f3;
}

.section-act:before {
    content: '';
    display: block;
    position: absolute;
    height: 50px;
    top: -50px;
    left: 0;
    right: 0;
    background: inherit;
    clip-path: url(../img/shapes.svg#subtle-wave-three);
}

.features li {
    list-style: none;
    padding-left: 90px;
    position: relative;
    min-height: 70px;
    margin: 0 0 1.5em;
}

.features h4 {
    font-size: 20px;
}

.feature a:before {
    content: '';
    width: 80px;
    height: 60px;
    background: url(../img/features-logos.png) no-repeat;
    background-size: 70px 240px;
    position: absolute;
    left: 0;
    top: 0;
}

.feature a p {
    color: #333;
    text-decoration: none;
}

.feature a:hover,
.feature a:focus {
    text-decoration: none;
}

.feature a:hover h4,
.feature a:focus h4 {
    text-decoration: underline;
}

.feature-dnt a:before {
    background-position: 0 0;
}

.feature-forget a:before {
    background-position: 0 -60px;
}

.feature-ddg a:before {
    background-position: 0 -120px;
}

.feature-addons a:before {
    background-position: 0 -180px;
}

.js-ready .feature {
    opacity: 0;
    transition: opacity .25s ease-in;
    transition-delay: .2s;
}

.js-ready .feature.visible {
    opacity: 1;
}


.actions {
    list-style: none;
    display: flex;
    width: 60%;
    margin: 0 auto 40px;
}

.actions li {
    width: 30%;
    display: inline-block;
    padding-top: 140px;
    position: relative;
    text-align: center;
}

.actions a:before {
    content: '';
    display: block;
    width: 120px;
    height: 120px;
    background: silver;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -60px;
}


/* Discuss */
.section-discuss {
    background: #fff;
}

.section-discuss:before {
    content: '';
    display: block;
    position: absolute;
    height: 50px;
    top: -50px;
    left: 0;
    right: 0;
    background: inherit;
    clip-path: url(../img/shapes.svg#arc-up-right);
}

.big-list {
    margin: 20px 80px 40px;
    padding: 0;
}

.big-list > li {
    position: relative;
    counter-increment: steps;
    list-style-type: none;
    margin: 0 0 1.5em;
    padding: 10px 0 10px 70px;
    min-height: 50px;
    border-bottom: 1px dotted #ccc;
}

.big-list > li:last-child {
    border-bottom: 0;
}

.big-list > li:before {
    content: counter(steps);
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    line-height: 50px;
    border-radius: 100%;
    text-align: center;
    background: #00a7e0;
    color: #fff;
    font-size: 32px;
}


