@import url('reset.css');

/* Fonts */
@font-face {
    font-family: 'Zilla Slab';
    src: url('../fonts/ZillaSlab-Regular.woff2') format('woff2'),
         url('../fonts/ZillaSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Zilla Slab';
    src: url('../fonts/ZillaSlab-Bold.woff2') format('woff2'),
         url('../fonts/ZillaSlab-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Zilla Slab';
    src: url('../fonts/ZillaSlab-RegularItalic.woff2') format('woff2'),
         url('../fonts/ZillaSlab-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Zilla Slab';
    src: url('../fonts/ZillaSlab-BoldItalic.woff2') format('woff2'),
         url('../fonts/ZillaSlab-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}



/* General styles */
body {
    background: #fff;
    color: #000;
    font: 100%/1.5 'Zilla Slab', sans-serif;
    padding: 20px;
}

.section:after,
.content:after {
    clear: both;
    content: '';
    display: table;
}

.content {
    margin: 0 auto;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
}

.sample {
    width: 45%;
    float: left;
    margin: 0 2%;
}

.sample header h1 {
    background: #000;
    color: #fff;
    font-size: 16px;
    padding: .1em 6px;
}

h1, h2, h3, h4, h5, h6, legend { font-weight: bold; line-height: 1.1; margin: 0 0 .25em; }

.current-scale .huge { font-size: 50px; font-size: 3.125rem; }
.current-scale h1, .current-scale .l1 { font-size: 38px; font-size: 2.375rem; }
.current-scale h2, .current-scale .l2 { font-size: 28px; font-size: 1.75rem; }
.current-scale h3, .current-scale .l3 { font-size: 21px; font-size: 1.3125rem; }
.current-scale h4, .current-scale .l4 { font-size: 16px; font-size: 1rem; }
.current-scale h5, .current-scale h6, .current-scale .l5 { font-size: 16px; font-size: 1rem; }
.current-scale small, .current-scale .l6 { font-size: 14px; font-size: .875rem; }
.current-scale .x-small { font-size: 12px; font-size: .75rem; }


.new-scale .huge { font-size: 72px; font-size: 4.5rem; }
.new-scale h1, .new-scale .l1 { font-size: 48px; font-size: 3rem; }
.new-scale h2, .new-scale .l2 { font-size: 36px; font-size: 2.25rem; }
.new-scale h3, .new-scale .l3 { font-size: 24px; font-size: 1.5rem; }
.new-scale h4, .new-scale .l4 { font-size: 16px; font-size: 1rem; }
.new-scale h5, .new-scale h6, .new-scale .l5 { font-size: 16px; font-size: 1rem; }
.new-scale small, .new-scale .l6 { font-size: 14px; font-size: .875rem; }
.new-scale .x-small { font-size: 12px; font-size: .75rem; }


@media screen and (min-width: 760px) {
    .current-scale .huge { font-size: 90px; font-size: 5.625rem; }
    .current-scale h1, .current-scale .l1 { font-size: 50px; font-size: 3.125rem; }
    .current-scale h2, .current-scale .l2 { font-size: 38px; font-size: 2.375rem; }
    .current-scale h3, .current-scale .l3 { font-size: 28px; font-size: 1.75rem; }
    .current-scale h4, .current-scale .l4 { font-size: 21px; font-size: 1.3125rem; }

    .new-scale .huge { font-size: 72px; font-size: 5.5rem; }
    .new-scale h1, .new-scale .l1 { font-size: 60px; font-size: 3.75rem; }
    .new-scale h2, .new-scale .l2 { font-size: 48px; font-size: 3rem; }
    .new-scale h3, .new-scale .l3 { font-size: 36px; font-size: 2.25rem; }
    .new-scale h4, .new-scale .l4 { font-size: 24px; font-size: 1.5rem; }
}

